.history {
  padding: 100px 0;
  padding-bottom: clamp(200px, 35vw, 520px);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary);
}

.text {
  padding: 0 var(--padding-s);
  position: relative;
  z-index: 1;
}

.text::before {
  content: "History";
  font-size: clamp(10rem, 40vw, 30rem);
  font-family: 'PT Serif', serif;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: .03;
  user-select: none;
  z-index: 0;
}

.text > * {
  margin: 0;
  z-index: 2;
  position: relative;
}

.history-title {
  margin-bottom: 18px;
}

.history-p {
  margin-top: 30px;
  text-align: justify;
  width: 100%;
  font-size: .95rem;
  font-weight: 300;
  line-height: 2;
}

.history::after {
  --lines-gap: 3vw;
  content: '';
  width: 100%;
  height: clamp(4px, 0.5vw, 10px);
  background: #fff;
  box-shadow: 0px calc(var(--lines-gap)*-1) 0px 0px #fff, 0px calc(var(--lines-gap)*-2) 0px 0px #fff;
  position: absolute;
  bottom: 13vw;
  z-index: 0;
  opacity: .03;
}

.history-imgs {
  display: flex;
  padding: 0 var(--padding-p);
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  transform: translateY(30%);
  z-index: 2;
}

.history-imgs > img {
  max-height: 400px;
  min-height: 80px;
  width: clamp(80px, 48%, 800px);
  object-fit: cover;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: transform 100ms ease-out;
}

.history-imgs > img:first-child {
  transform: translateY(15%);
}

.history-imgs > img:last-child:hover {
  transform: translateY(-5px);
}

.history-imgs > img:first-child:hover {
  transform: translateY(calc(15% - 5px));
}

@media screen and (min-width: 2000px) {
  .history-imgs {
    justify-content: center;
    gap: 50px;
  }
  .history::after {
    --lines-gap: 70px;
    bottom: 180px;
  }
}

@media screen and (max-width: 1440px) {
  .history-p {
    line-height: 1.8;
  }
}

@media screen and (max-width: 425px) {
  .history-imgs > img:first-child {
    display: none;
  }

  .history-imgs > img:last-child {
    width: 100%;
  }

  .history::after {
    bottom: clamp(80px, 28vw, 120px);
    --lines-gap: 20px
  }

  .text::before {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 320px) {
  .history {
    padding-bottom: 220px;
  }
}
